body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 20px;
    padding: 20px;
}
h1{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
form{
    text-align: center;
}
label{
    font-size: 1.5rem;
}
input{
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.save input{
    background-color: rgb(5, 44, 99);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}
   
